{% extends "base.html" %}

{% block content %}

<h3>Category Management</h3>

<div class="card p-3 mb-4 shadow">
    <form method="POST" action="/add_category">
        <div class="row">
            <div class="col"><input name="name" class="form-control" placeholder="Category Name" required></div>
            <div class="col"><input name="description" class="form-control" placeholder="Description"></div>
            <div class="col">
                <button class="btn btn-primary w-100">Add</button>
            </div>
        </div>
    </form>
</div>

<div class="card p-3 shadow">
<table class="table">
<tr><th>Name</th><th>Description</th><th>Action</th></tr>

{% for c in categories %}
<tr>
<td>{{ c.name }}</td>
<td>{{ c.description }}</td>
<td><a href="/delete_category/{{c.id}}" class="btn btn-danger btn-sm">Delete</a></td>
</tr>
{% endfor %}

</table>
</div>

{% endblock %}