{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">Shop</h3>

<div class="row">

{% for p in products %}
<div class="col-md-3">

<div class="card p-3 mb-4 text-center">

{% if p.image %}
<img src="/static/uploads/{{p.image}}" height="120">
{% endif %}

<h5>{{ p.name }}</h5>
<p>₹ {{ p.price }}</p>

{% if p.stock > 0 %}
<form method="POST" action="/order/{{p.id}}">
    <input type="number" name="qty" value="1" min="1" max="{{p.stock}}" class="form-control mb-2">
    <input name="address" class="form-control mb-2" placeholder="Address" required>
    <button class="btn btn-success w-100">Order</button>
</form>
{% else %}
<button class="btn btn-secondary w-100">Out of Stock</button>
{% endif %}

</div>

</div>
{% endfor %}

</div>

{% endblock %}